[submodule "backend"]
	path = backend
	url = https://github.com/SENODROOM/QuantumLanguage-Website-Backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/SENODROOM/QuantumLanguage-Website-Frontend.git
	branch = main