[submodule "backend"]
	path = backend
	url = https://github.com/QuantumLogicsLabs/QuantumLanguage-Website-Backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/QuantumLogicsLabs/QuantumLanguage-Website-Frontend.git
	branch = main
